.about {
  max-width: 1150px;
  margin: 0 auto;
}

.about__wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  row-gap: 32px;
}

.about__item {
  display: flex;
  flex-direction: column;
}

.about__item:nth-child(1) .about__item-icon {
  margin-bottom: 16px;
}

.about__item:nth-child(2) .about__item-icon {
  margin-bottom: 26px;
}

.about__item:nth-child(3) .about__item-icon {
  margin-bottom: 21px;
}

.about__item:nth-child(4) .about__item-icon {
  margin-bottom: 17px;
}

.about__item:nth-child(5) .about__item-icon {
  margin-bottom: 26px;
}

.about__item:nth-child(6) .about__item-icon {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .about {
    min-width: 760px;
  }

  .about__wrapper {
    padding: 50px;
    padding-top: 59px;
    padding-bottom: 82px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41px;
  }

  .about__list {
    grid-template-columns: minmax(260px, 265px) minmax(320px, 325px);
    grid-template-rows: auto;
    column-gap: 70px;
    row-gap: 58px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item:nth-child(1),
  .about__item:nth-child(2),
  .about__item:nth-child(3) {
    grid-column: 1/2;
  }

  .about__item:nth-child(4),
  .about__item:nth-child(5),
  .about__item:nth-child(6) {
    grid-column: 2/3;
  }

  .about__item:nth-child(1),
  .about__item:nth-child(4) {
    grid-row: 1/2;
  }

  .about__item:nth-child(2),
  .about__item:nth-child(5) {
    grid-row: 2/3;
  }

  .about__item:nth-child(3),
  .about__item:nth-child(6) {
    grid-row: 3/4;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .about__list {
    column-gap: 86px;
    row-gap: 58px;
  }

  .about__wrapper {
    padding-left: 34px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 42px;
  }
}

